extends ../layout

block content
    h1 Agregar Estudiante
    nav
        ul
            li
                a(href="./estudiante/nuevo") Registrar Estudiante
            li 
                a(href="./estudiante/buscar") Buscar Estudiante
            li
                a(href="./estudiante/eliminar") Eliminar Estudiante
            li
                a(href="./estudiante/actualizar") Actualizar Estudiante

    label CRUP 
    input(type="text", name="curp", id="curp" ,placeholder="Escriba su CURP")
    br
    br
    label Fecha de Nacimiento
    input(type="text", name="fechaNac", id="fechaNac" ,placeholder="Escriba su Fecha de Nacimiento")
    br
    br
    label Esatus
    input(type="text", name="estatus", id="estatus", placeholder="Escriba el estatus")
    br
    br
    label Estado Civil
    input(type="text", name="estadoCiv", id="estadoCiv", placeholder="Escriba el Estado Civil")
    br
    br
    label Datos Medicos
    input(type="text", name="datMedi", id="datMedi", placeholder="Escriba los datos medicos")
    br
    br
    label Datos Academicos
    input(type="text", name="datAca", id="datAca", placeholder="Escriba los datos academicos")
    br
    br
    label Datos del Tutos
    input(type="text", name="datTut", id="datTut", placeholder="Escriba los datos del tutos")
    br
    br
    label Datos de la persona
    input(type="text", name="datPer", id="datPer", placeholder="Escriba los datos de la persona")
    br
    br
    button(id="agregar" ) Agregar