doctype html
html
    head
        title Inicio
        link(rel='stylesheet', href='/stylesheets/style.css')

    dody
        h1 Aplicacion Cliente
        nav
            li
                a(href="#" ) Inicio
            li
                a(href='/estudiante/registroEstudiante.jade') Registro de Estudiante
            li
                a(href="/estudiante/buscarEstudiante") Buscar Estudiante
            li
                a(href="") Eliminar Estudiante      
            li
                a(href="") Actualizar Datos Estudiante
            li
                a(href="") Otra opcion.

        h2 Lista Estudiantes
        table(border="1")
            tbody
                tr  
                    td ID estudiante
                    td CURP
                    td Fecha de Nacimiento
                    td Estatus
                    td Estado Civil
                    td Datos Medicos
                    td Datos Academicos
                    td Datos tutor
                    td Datos persona
                tr 
                    td 1
                    td SAFJ991018HQIOSFOINSDIN
                    td 18 Octubre de 1999
                    td 1
                    td 1
                    td 1
                    td 2
                    td 2
                    td 1