doctype html
html
  head
    title Agregar Estudiante
  |     
  body
    h1 Formulario de Registro Estudiante
    |         
    form
      label CURP: 
      |             
      input(type='text')
      |             
      br
      |             
      label Fecha de Nacimiento
      |             
      input(type='date')
      |             
      br
      |             
      label Esatus
      |             
      input(type='number')
      |             
      br
      |             
      label Estado Civil
      |             
      select#estadoCivil
        option Soltero
        |                 
        option Casado
        |                 
        option Divorciado
      |             
      br
      |             
      label Dato medicos
      |             
      input(type='text')
      |             
      br
      |             
      label Datos academicos
      |             
      input(type='text')
      |             
      br
      |             
      label Datos tutos
      |             
      input(type='text')
      |             
      br
      |             
      label Persona que registrara
      |             
      input(type='text')
      |             
      br
      |             
      input(type='submit', value='Registrar')